// Prefix
@css-prefix: bsc-;

// Color
@primary-color: #1e9fff;
@primary-color-dark: #222b31;
@secondary-color-dark: #414e55;
@border-color-dark: #52626d;

// Layout
@layout-margin-left: 200px;

// Base
@body-min-width: 1210px;
@body-background: #fff;
@body-background-dark: #39434b;
@common-radius: 3px;
@text-color: #657180;
@text-color-dark: #c0ccda;
@text-color-secondary-dark: #8492a6;
@font-size-base: 14px;
@font-size-small: 12px;
@common-border: 1px solid #e5e9f2; 
@common-border-dark: 1px solid @border-color-dark; 

// Menu
@menu-background: #273138;
@menu-background-active:#3a434b;
@menu-text-color:#fff;


